html {background-color:#1F2937}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}
   
body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
    
}
h5{
    font-size: 50px;
}
title{
    color:white
}
.container {
    display: flex;
    flex-direction:column;
}
.news-list {
   background-color:ivory;
   font-size: 16px;
}
.news-list-header {
    color:black;
 }

 .reddits-list {
    position: relative;
    align-items:baseline;
    background-color:mintcream;
 }
 .reddits-list-header {
     color: mintcream;
  }
.title{
    font-size: 30px
}

.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #000000;
    padding: 20px 0px 20px 100px;
    align-items: center;
}
.header-logo img {
    width: 299px;
    height: 150px;
    margin-right: auto;
}
.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;  
}
.header-link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}

.navbar-title{
   left:0px
}
.navbar-icon{
    color: honeydew;
}

.container{
    float: left
}


.search{
    position:relative
    top: 0x;
    left: 0px;
 

}
.footer {
    background-color: #1F2937;
    color: #fff;
    font-size: 12px;
    font-family: 'Roboto', arial;
    height: 20px;
}

span{
    font-size: 18px;
    font-style: oblique;
    font-style: italic;
}
